<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
</head>
<body>
{{template "menu.html" .}}
<h1>Admin Panel</h1>
<h2>Devices</h2>
<ul>
    {{range .Devices}}
    <li>
        {{.InternalID}} - {{.Name}} (Booked: {{.StartDate}} to {{.EndDate}})
        <form action="/admin/bookdevice" method="post">
            <input type="hidden" name="deviceid" value="{{.ID}}">
            <label for="start-date">Start Date:</label>
            <input type="date" name="startdate" required>
            <label for="end-date">End Date:</label>
            <input type="date" name="enddate" required>
            <button type="submit">Book</button>
        </form>
    </li>
    {{end}}
</ul>
<h2>Actions</h2>
<ul>
    <li><a href="/admin/adduser">Add User</a></li>
    <li><a href="/admin/adddevice">Add Device</a></li>
    <li><a href="/admin/import">Import Devices</a></li>

</ul>
</body>
</html>
